//Colors
$tundora: #4d4949;
$white: #fff;
$mine-shaft: #393737;
$fuscous-gray: #4d4c49;
$gover-grey: #6d6d6d;
$alto: #dcdcdc;
$flory: #f06786;
$gray: #818181;
$abbey: #494a4d;
$nobel: #b7b7b7;
$copyright: #333;
$timeline: #ddd;
$westar: #e1dfdd;
$mercury: #e6e6e6;
$fantasy: #fcf6f6;

//Fonts
$main-font: 'Hind Siliguri', sans-serif;
$extra-font: 'Lucida Grande', sans-serif;

$larger-font-size: 28px;
$large-font-size: 24px;
$medium-font-size: 20px;
$small-font-size: 17px;
$smaller-font-size: 15px;

//Maps
$user-photo-arr: (
  first: -112px -10px,
  second: -10px -112px,
  third: -10px -10px
);

$photo-user-position: (
  first: -10px -10px,
  second: -10px -67px,
  third: -67px -10px
);

$user-photo-blog: (
  grace: -84px -10px,
  alex: -10px -10px,
  neil: -10px -84px,
  sarah: -84px -84px
);
